# Loan Application 
---

## Starter Code to Import Libraries and Load the loan data CSV

In [3]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [4]:

# Define the file path
file_path = Path("Resources/clean_loan_data_db.csv") # file cleaned in the mongo database 

# Read the CSV file into a DataFrame
loans_df = pd.read_csv(file_path)

# Display the DataFrame
loans_df

,_id,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,67b7e45ba850d64d6f8b4678,22,female,Master,71948,0,RENT,35000,PERSONAL,16.02,0.49,3,561,No,1
1,67b7e45ba850d64d6f8b4679,21,female,High School,12282,0,OWN,1000,EDUCATION,11.14,0.08,2,504,Yes,0
2,67b7e45ba850d64d6f8b467a,25,female,High School,12438,3,MORTGAGE,5500,MEDICAL,12.87,0.44,3,635,No,1
3,67b7e45ba850d64d6f8b467b,23,female,Bachelor,79753,0,RENT,35000,MEDICAL,15.23,0.44,2,675,No,1
4,67b7e45ba850d64d6f8b467c,24,male,Master,66135,1,RENT,35000,MEDICAL,14.27,0.53,4,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44990,67b7e45ca850d64d6f8bf63b,27,male,Associate,47971,6,RENT,15000,MEDICAL,15.66,0.31,3,645,No,1
44991,67b7e45ca850d64d6f8bf63c,37,female,Associate,65800,17,RENT,9000,HOMEIMPROVEMENT,14.07,0.14,11,621,No,1
44992,67b7e45ca850d64d6f8bf63d,33,male,Associate,56942,7,RENT,2771,DEBTCONSOLIDATION,10.02,0.05,10,668,No,1
44993,67b7e45ca850d64d6f8bf63e,29,male,Bachelor,33164,4,RENT,12000,EDUCATION,13.23,0.36,6,604,No,1
44994,67b7e45ca850d64d6f8bf63f,24,male,High School,51609,1,RENT,6665,DEBTCONSOLIDATION,17.05,0.13,3,628,No,1

In [5]:
# finding the info
loans_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44995 entries, 0 to 44994
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   _id                             44995 non-null  object
 1   person_age                      44995 non-null  int64
 2   person_gender                   44995 non-null  object
 3   person_education                44995 non-null  object
 4   person_income                   44995 non-null  int64
 5   person_emp_exp                  44995 non-null  int64
 6   person_home_ownership           44995 non-null  object
 7   loan_amnt                       44995 non-null  int64
 8   loan_intent                     44995 non-null  object
 9   loan_int_rate                   44995 non-null  float64
 10  loan_percent_income             44995 non-null  float64
 11  cb_person_cred_hist_length      44995 non-null  int64
 12  credit_score                    44995 non-null  int64
 13  previous_loan_defaults_on_file  44995 non-null  object
 14  loan_status                     44995 non-null  int64
dtypes: float64(2), int64(7), object(6)
memory usage: 5.1+ MB

In [6]:
#Dropping all rows that may missing information

loans_clean_df = loans_df.dropna(how='any')
loans_clean_df

,_id,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,67b7e45ba850d64d6f8b4678,22,female,Master,71948,0,RENT,35000,PERSONAL,16.02,0.49,3,561,No,1
1,67b7e45ba850d64d6f8b4679,21,female,High School,12282,0,OWN,1000,EDUCATION,11.14,0.08,2,504,Yes,0
2,67b7e45ba850d64d6f8b467a,25,female,High School,12438,3,MORTGAGE,5500,MEDICAL,12.87,0.44,3,635,No,1
3,67b7e45ba850d64d6f8b467b,23,female,Bachelor,79753,0,RENT,35000,MEDICAL,15.23,0.44,2,675,No,1
4,67b7e45ba850d64d6f8b467c,24,male,Master,66135,1,RENT,35000,MEDICAL,14.27,0.53,4,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44990,67b7e45ca850d64d6f8bf63b,27,male,Associate,47971,6,RENT,15000,MEDICAL,15.66,0.31,3,645,No,1
44991,67b7e45ca850d64d6f8bf63c,37,female,Associate,65800,17,RENT,9000,HOMEIMPROVEMENT,14.07,0.14,11,621,No,1
44992,67b7e45ca850d64d6f8bf63d,33,male,Associate,56942,7,RENT,2771,DEBTCONSOLIDATION,10.02,0.05,10,668,No,1
44993,67b7e45ca850d64d6f8bf63e,29,male,Bachelor,33164,4,RENT,12000,EDUCATION,13.23,0.36,6,604,No,1
44994,67b7e45ca850d64d6f8bf63f,24,male,High School,51609,1,RENT,6665,DEBTCONSOLIDATION,17.05,0.13,3,628,No,1

In [7]:
# The above codes were written to ensure the loan_data.csv is clean
# The codes revealed that the loan_data.csv is a clean data set 
# Remove person age over 100